/* You can add global styles to this file, and also import other style files */
  body {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);
    --panel-header-color: rgb(210, 231, 248);
    --textarea: white;
  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: rgb(24, 24, 24);
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);
    --panel-header-color: rgb(0, 50, 94);
    --hover: rgb(43, 43, 43);
    --textarea: rgb(43, 43, 43);
  }

  body,
  .list-group-item, 
  .dropdown-menu,
  .panel { 
      background-color: var(--bkg-color);
  }

  textarea.form-control,
  input.form-control {
    background-color: var(--textarea);
    color: var(--text-color);
  }

  .panel > .panel-heading,
  .list-group-item.active,
  .list-group-item.active:hover,
  .list-group-item.active:focus {
    background-color: var(--panel-header-color);
  }

  a.list-group-item:hover,
  a.list-group-item:focus {
    background-color: var(--hover);
  }
  
  h1, h2, h3, h4
  p, label,
  .dropdown-menu > li > a,
  .panel-title,
  .panel-body,
  a.list-group-item .list-group-item-heading,
  a.list-group-item,
  li.list-group-item,
  .list-group-item-text {
    color: var(--text-color);
  }